@import "mixins.scss";

* {
	margin: 0;
	padding: 0;

	// @include transition;
}

html,
body {
	background: #3b5998 no-repeat center 0;
}

body {	
	font-family: "Helvetica Neue", Helvetica, Arial;
	font-size: 13px;
	color: #fff;
	line-height: 20px;
	text-shadow: 0 0 1px rgba(16, 31, 61, 0.25);
	-webkit-font-smoothing: antialiased;
}

a {
	color: #fff;
	font-weight: bold;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

#wrapper {
	position: relative;
	margin: 0 auto;
	width: 700px;
	padding: 170px 0 0 0;
}

header {
	margin-bottom: 125px;

	h1 {
		width: 334px;
		height: 32px;
		background: url("../images/h1.png");
		text-indent: -9999px;
		float: left;
	}

	#current {
		font-size: 35px;
		font-weight: bold;
		float: right;
		margin-top: 6px;
		color: rgba(255, 255, 255, 0.4);
		@include opacity(0);
		@include transition(all, 0.1s);

		&.show {
			@include opacity(1);
		}

		&.error {
			@include opacity(1);
		}

		.value {
			float: left;

			span {
				margin-left: 5px;
				color: #fff;
			}
		}

		.change {
			position: relative;
			top: -6px;
			margin-left: 25px;
			float: left;
			line-height: 16px;
			background: url("../images/arrows.png") no-repeat 0 -3px;
			color: #fff;
			font: {
				size: 13px;
			}

			span {
				display: block;
				padding-left: 30px;
			}

			&.up {

			}

			&.down {
				background-position: 0 -44px;
			}
		}
	}
}

#graph {
  left: 0;
  top: 0;

  h2 {
  	font: {
  		size: 13px;
  	}
  }
  
  #chart {
  	width: 700px;
  	height: 200px;
  	margin-bottom: 100px;
  	margin-left: -20px;
  }
}

footer {
	padding-bottom: 70px;
	color: rgba(255, 255, 255, 0.4);

	// p:nth-child(2),
	// p:nth-child(3) {
	// 	color: rgba(255, 255, 255, 0.4);
	// }

	.awwwwkwardddd {
		float: left;
	}

	.copy {
		text-align: right;
		float: right;
	}

	em {

	}
}